# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

*.pptx
*.exe
*.pdf
**/*.pdf
.vscode/
**/.vscode/
**/__pycache__/
**/.venv/
*.json
*Zone.Identifier
desktop.ini
*.docx
*.pyc
!.gitignore
*.jar
**/*.mkv